@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");
body,
html {
  background-color: #334155;
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.title {
  min-height: 150px;
  background-color: #1e3a8a;
  margin-bottom: 50px;
  box-shadow: 0 1px 4px rgb(84, 84, 84);
  clip-path: polygon(0 0, 100% 0, 100% 200%, 0 200%);
}
h1 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  width: fit-content;
  margin: 0px auto;
}
p {
  font-family: "roboto", sans-serif;
  margin: 0px;
  height: fit-content;
  color: white;
}
h5 {
  margin: 0px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 3.5rem;
}
.selection {
  margin-bottom: 10px;
}
.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.mainArea {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gameBoard {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gridBox {
  background-color: #1d4ed8;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
.playerShips {
  display: grid;
  margin-left: 100px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#ai {
  margin-left: 100px;
}
.ships {
  display: flex;
}
.draggableShip {
  height: fit-content;
  width: fit-content;
}
.background {
  background-color: rgba(0, 0, 0, 0.56);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 5rem;
}
.gridBoxP {
  background-color: #047857;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
h4 {
  margin: 0px;
  width: 100%;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 3.5rem;
}
